nav#raiseup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

nav#raiseup ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: 0.1em solid #2e3436;
  }

  nav#raiseup p:after {
    display: inline-block;
    margin-left: 0.5em;
    content: '\25b2';
    font-size: 0.8em;
    opacity: 0.5;
  }

  nav#raiseup li:hover > p:after {
    opacity: 1;
  }

  nav#raiseup a,
nav#raiseup p {
  display: inline-block;
  background-color: #309824;
  color: #2e3436;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0.2em;
  font-family: sans-serif;
}

nav#raiseup li:hover > a,
nav#raiseup li:hover > p {
  background-color: #88d380;
}

nav#raiseup > ul > li {
    flex: 1;
    position: relative;
  }

  nav#raiseup li > ul {
    z-index: 1;
    position: absolute;
    left: 2em;
    right: -2em;
    display: none;
  }

  nav#raiseup li:hover > ul {
    display: block;
    top: 0;
    transform: translateY(-100%);
  }
  
  nav#raiseup li {
    position: relative;
  }