<form id="update-form" [formGroup]="form">
    <input formControlName="model" [(ngModel)]="model" type="text" name="model" placeholder="Model:" id="model"> <br>
    <input formControlName="engine" [(ngModel)]="engine" type="text" name="engine" placeholder="Engine:" id="engine"> <br>
    <input formControlName="power" [(ngModel)]="power" type="number" name="power" placeholder="Power:" id="power"> <br>
    <input formControlName="fuel" [(ngModel)]="fuel" type="text" name="fuel" placeholder="Fuel:" id="fuel"> <br>
    <input formControlName="price" [(ngModel)]="price" type="number" name="price" placeholder="Price:" id="price" > <br>
    <input formControlName="color" [(ngModel)]="color" type="text" name="color" placeholder="Color:" id="color"> <br>
    <input formControlName="age" [(ngModel)]="age" type="text" name="age" placeholder="Age:" id="age"> <br>
    <input formControlName="history" [(ngModel)]="history" type="text" name="history" placeholder="History:" id="history"> <br>
   <div class="button_container">
        <button (click)="onSubmitUpdateButton()" type="button" id="update-button">Update Car</button>
    </div>
</form>

