<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-OG8HD08;Initial Catalog=lawfirm;Integrated Security = true"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ParentTable" value="Invoice"/>
		<add key="ChildTable" value="Client"/>
		<add key="SelectParent" value="SELECT * FROM Invoice"/>
		<add key="SelectChild" value="SELECT * FROM Client"/>
		<add key="ParentReferencedKey" value="id"/>
		<add key="ChildForeignKey" value="invoice_id"/>
		<add key="ForeignKey" value="FK__Client__invoice___56E8E7AB"/>
		<!--<add key="ParentTable" value="Document"/>
		<add key="ChildTable" value="Document_on_lawsuit"/>
		<add key="SelectParent" value="SELECT * FROM Document"/>
		<add key="SelectChild" value="SELECT * FROM Document_on_lawsuit"/>
		<add key="ParentReferencedKey" value="id"/>
		<add key="ChildForeignKey" value="document_id"/>
		<add key="ForeignKey" value="FK__Document___docum__6AEFE058"/>-->
		
	</appSettings>
</configuration>